<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/lib/prism/prism.css" />
    <title>Vue.js</title>
    <script src="/lib/prism/prism.js"></script>
    <script src="/lib/jquery-1.12.4.js"></script>
  </head>
  <body>
    <div class="align-center" id="app" v-cloak>
      <h1>{{pageTitle}}</h1>
      <table-of-contents></table-of-contents>

      <template v-if="docs !== undefined">
        <h4>도움말 페이지</h4>
        <ul>
          <li v-for="item in docs">
            <a :href="item.url" :target="'_blank'">{{item.title}}</a>
          </li>
        </ul>
      </template>

      <h2>소제목1</h2>
      <div class="result">
        <div>
          <button type="button" @click="setChildren">날 눌러줘요</button>
          <button type="button" @click="setChildrenReverse">나도</button>
          <template v-for="(child, index) in children" :key="index">
            <div>
              <input class="width-minimum" type="text" v-model="child.extendStHo" :disabled="child.extendYn == 'N'" maxlength="2"> {{child.extendYn}}
            </div>
          </template>
        </div>
        <p>{{message}}</p>
      </div>

      <back-to-home></back-to-home>
    </div>
    <script type="module">
      import { createApp } from '/lib/vue/vue.esm-browser.js';
      import { backToHome } from '/examples/vue/component/back-to-home.js';
      import { tableOfContents } from '/examples/vue/component/table-of-contents.js';

      window.vm = createApp({
        components: {
          backToHome,
          tableOfContents,
        },
        data() {
          return {
            pageTitle: "연습장 #2",
            docs: [
              { title: "어디어디", url: "어디어디" },
            ],
            message: "Hello Vue! ✌️",
            children: [
              {
                extendStHo: null,
                extendYn: null
              },
              {
                extendStHo: null,
                extendYn: null
              }
            ]
          };
        },
        created() {
          document.title += `: ${this.pageTitle}`;
        },
        mounted() {
          this.setChildren();
        },
        methods: {
          setChildren() {
            this.children.forEach(element => {
              element.extendStHo = 'qwerasdf'
              element.extendYn = 'N';    
            });
          },
          setChildrenReverse() {
            this.children.forEach(element => {
              element.extendStHo = 'asdfzxc'
              element.extendYn = 'Y';   
            });
          }
        }
      }).mount("#app");

      // jQuery를 끼얹으면 어떻게 될까?
      $(function() {
        $('input').prop('disabled', false);
      });
    </script>
  </body>
</html>
