# high performance mode
#ANTHROPIC_API_KEY="[Claude Console](https://platform.claude.com/dashboard)에서 확인 가능"

# budget mode
OPENROUTER_API_KEY="[API Keys | Settings | OpenRouter](https://openrouter.ai/workspaces/default/keys)에서 확인 가능"
ANTHROPIC_BASE_URL="https://openrouter.ai/api"
ANTHROPIC_AUTH_TOKEN="[API Keys | Settings | OpenRouter](https://openrouter.ai/workspaces/default/keys)에서 확인 가능"
ANTHROPIC_API_KEY="" # 비워놔야 함

#ANTHROPIC_DEFAULT_FABLE_MODEL=moonshotai/kimi-k2
#ANTHROPIC_DEFAULT_SONNET_MODEL=moonshotai/kimi-k2
#ANTHROPIC_DEFAULT_OPUS_MODEL=moonshotai/kimi-k2
#ANTHROPIC_DEFAULT_HAIKU_MODEL=moonshotai/kimi-k2
#CLAUDE_CODE_SUBAGENT_MODEL=moonshotai/kimi-k2

ANTHROPIC_DEFAULT_FABLE_MODEL=openrouter/free
ANTHROPIC_DEFAULT_SONNET_MODEL=openrouter/free
ANTHROPIC_DEFAULT_OPUS_MODEL=openrouter/free
ANTHROPIC_DEFAULT_HAIKU_MODEL=openrouter/free
CLAUDE_CODE_SUBAGENT_MODEL=openrouter/free
