@use '../../../styles/global'

.read-only-test
  input:read-only,
  select:read-only,
  textarea:read-only
    background-color: cornflowerblue

.read-write-test
  input:read-write,
  select:read-write,
  textarea:read-write
    background-color: deepskyblue

.disabled-test
  input:disabled,
  select:disabled,
  textarea:disabled
    background-color: indianred
