@use '../../../styles/global'

.item
  background-color: seagreen
  display: flex
  justify-content: center
  align-items: center
  font: 20px bold
  color: white
  white-space: nowrap
  padding: 10px
  // 정렬에 따른 여백 차이를 시각적으로 확인하기 위해 고정 크기를 설정
  width: 120px
  height: 60px

  &.font-small
    font-size: 14px

  &.font-large
    font-size: 28px

.container
  display: grid
  background-color: moccasin
  gap: 10px
  max-width: 100%
  min-height: 200px
  grid-template-columns: repeat(2, 1fr)

  // Positional alignment 예시들
  &.ex-center
    place-items: center

  &.ex-normal-start
    place-items: normal start

  &.ex-center-normal
    place-items: center normal

  &.ex-start-legacy
    place-items: start legacy

  &.ex-end-normal
    place-items: end normal

  &.ex-self-start-legacy
    place-items: self-start legacy

  &.ex-self-end-normal
    place-items: self-end normal

  // 플렉스 레이아웃에서의 작동 확인을 위한 설정
  &.ex-flex-start-legacy
    display: flex
    place-items: flex-start legacy

  &.ex-flex-end-normal
    display: flex
    place-items: flex-end normal

  &.ex-anchor-center
    place-items: anchor-center

  // Baseline alignment 예시들 (높이가 다르고 자동이어야 텍스트 베이스라인에 정렬되는 모습을 명확하게 볼 수 있음)
  &.ex-baseline-normal,
  &.ex-first-baseline-legacy,
  &.ex-last-baseline-normal
    .item
      height: auto

  &.ex-baseline-normal
    place-items: baseline normal

  &.ex-first-baseline-legacy
    place-items: first baseline legacy

  &.ex-last-baseline-normal
    place-items: last baseline normal

  // stretch 효과를 보려면 높이 고정이 해제되어 트랙 높이만큼 늘어나야 함
  &.ex-stretch-legacy
    place-items: stretch legacy
    .item
      height: auto
