@use '../../../styles/global'

img
  max-width: 800px

.container
  display: grid
  grid-template-rows: 100px 200px
  grid-template-columns: 100px 200px
  grid-gap: 10px

.item
  background-color: #488f31
  display: flex
  justify-content: center
  align-items: center
  font: 40px bold
  color: white

