# jetbrains
.idea

# Build and Release Folders
node_modules
package-lock.json

# Yarn
yarn.lock
.yarn
.pnp.cjs
.pnp.loader.mjs

# sass
public/styles/**/*.css
public/styles/**/*.css.map
public/pages/**/*.css
public/pages/**/*.css.map
